.markdown-section {
  max-width: 90%;
}

@media only screen and (min-width: 76.25em) {
  .md-main__inner {
    max-width: 90%;
  }

  .md-sidebar--primary {
    left: 5%;
  }

  .md-sidebar--secondary {
    right: 5%;
    margin-left: 0;
    -webkit-transform: none;
    transform: none;
  }
}
